* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('/imagem/img-fundo.jpg');
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteudo {
    background-color: #FFC0CB;
    width: 50%;
    margin: auto;
    margin-bottom: -1px;
    
    border: solid 5px #DCDCDC;
    border-radius: 20px;  
}

.conteudo img {
    width: 15%;
    border-radius: 500px;   
}

.botoes ul li {
    text-align: center;
    list-style-type: none;
    background-color: #ffff;

    width: 70%;
    height: 50px;
    margin: auto;
    
    display: block;
    margin-top: 20px;

    border: solid 5px #DCDCDC;
    border-radius: 10px;
}